fastapi
pydantic
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
uvicorn
python-multipart
PyJWT
databases
asyncpg
aiomysql
aiofiles
email-validator
psycopg2-binary
python-jose
uvicorn[standard]
openai